:root {
  --primary: #3a3a3a;
  --heading-color: #454545;
  --bg-shade: #F5F4EF;
  --darkblue: #2a2a72;
  --black: #000000;
  --white: #ffffff;
  --hover-bg1: rgba(255, 204, 204, 0.7);
  --hover-bg2: rgba(173, 216, 230, 0.7);
  --hover-bg3: rgba(144, 238, 144, 0.7);
  --hover-bg4: rgba(255, 165, 0, 0.6);
  --hover-bg5: rgba(221, 160, 221, 0.7);
  --hover-bg6: rgba(255, 255, 153, 0.7);
  --button-bg: rgba(255, 255, 153, 0.7);
  --button-color: #3a3a3a;
  --bg-dark: #121212;
  --text-light: #e0e0e0;
  --accent-color: #ff8c42;
  --card-bg: #292929;
  --hover-color: #ff6f61;
  --highlight-color: #99FECC;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Caveat", cursive;
  background-color: var(--bg-shade);
  transition: background-color 0.3s ease;
}

body[data-theme="dark"] {
  background-color: var(--bg-dark);
}

.hero--section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px;
  height: 100vh;
  background-color: var(--bg-shade);
}

.hero--section-content-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 50%;
}

.hero--section-content-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
  background-color: var(--white);
  margin-right: 20px;
}

.section-title {
  font-size: 24px;
  margin-bottom: 10px;
  color: var(--primary);
}

.hero--section-title {
  font-size: 48px;
  margin: 20px 0;
  color: var(--primary);
}

.hero--section--img {
  max-width: 50%;
}

.image-container {
  position: relative;
  width: 400px;
  height: auto;
}

.blurred-img {
  position: relative;
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  filter: blur(10px);
}

.blurred-img.loaded {
  filter: none;
}

#sketch-filter {
  position: absolute;
  width: 0;
  height: 0;
  visibility: hidden;
}


.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.hero-image.loaded {
  opacity: 1;
}

.btn-primary {
  display: block;
  margin-top: 20px;
  height: 36px;
  width: 160px; /* Increased width for better visibility */
  background-color: var(--highlight-color); /* Set the initial button color */
  color: var(--button-color);
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  font-family: "Caveat", cursive;
  font-size: 18px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Added shadow */
  text-align: center;
  text-transform: none; /* Ensure text case matches design */
}

.btn-primary:hover {
  background-color: #7BBAFF; 
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3); /* More pronounced shadow on hover */
}

.portfolio--section {
  text-align: center;
  background-color: var(--bg-shade);
}

.portfolio--section[data-theme="dark"] {
  background-color: var(--bg-dark);
  color: var(--text-light);
}

.portfolio-section--heading {
  font-size: 36px;
  margin-bottom: 10px;
  font-family: "Caveat", cursive;
  color: var(--heading-color);
}

.portfolio-sub--title {
  font-size: 24px;
  margin-bottom: 20px;
  font-family: "Caveat", cursive;
  color: var(--heading-color);
}

.portfolio--section--container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 40px;
  justify-content: center;
}

.portfolio--section--card {
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--card-bg);
}

.portfolio--section--card:hover {
  transform: translateY(-10px);
}

.portfolio--section--card-img {
  width: 100%;
  height: 250px;
  overflow: hidden;
  border-bottom: 3px solid var(--hover-bg2);
}

.portfolio--section--card-img-element {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.portfolio--section--card-content {
  padding: 15px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.portfolio--section--title {
  padding-top: 10px;
  font-size: 18px;
  margin-bottom: 5px;
  font-family: "Caveat", cursive;
  color: var(--text-light);
}

.text-md {
  font-size: 16px;
  font-family: "Caveat", cursive;
  color: var(--text-light);
}

.text-sm {
  font-size: 14px;
  margin-top: 10px;
  font-family: "Caveat", cursive;
  color: var (--text-light);
}

.portfolio--link a {
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
  color: var(--primary);
  transition: background-color 0.3s ease;
}

.btn-github {
  margin-top: 30px;
  padding: 10px 20px;
  font-size: 16px;
  color: var(--white);
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: var(--accent-color);
}

.btn-github img {
  margin-right: 10px;
}

.skills--section--card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s, background-color 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 200px;
  background-color: var(--white);
}

.skills--section--card:hover {
  transform: translateY(-10px);
}

.skills--section--img {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills--section--img img {
  width: 100%;
  height: auto;
  margin-top: 25px;
}

.skills--section--card--content {
  text-align: center;
  padding: 20px;
  width: 100%;
}

.skills--section--title {
  font-size: 24px;
  margin-top: 10px;
}

.skills--section {
  padding: 50px;
}

.skills--container {
  text-align: center;
  margin-bottom: 50px;
}

.skills--section--heading {
  font-size: 36px;
  margin: 10px 0;
  color: var(--heading-color);
}

.skills--section--container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.skills--section--card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s, background-color 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 200px;
  background-color: var(--white);
}

.skills--section--card:hover {
  transform: translateY(-10px);
}

.skills--section--img {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills--section--img img {
  width: 100%;
  height: auto;
  margin-top: 25px;
}

.skills--section--card--content {
  text-align: center;
  padding: 20px;
  width: 100%;
}

.skills--section--title {
  font-size: 24px;
  margin-top: 10px;
}

@media (min-width: 600px) {
  .skills--section--container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1001px) {
  .skills--section--container {
    grid-template-columns: repeat(5, 1fr);
  }
}

.footer--container {
  padding: 50px;
  background-color: var(--bg-dark);
  color: var(--text-light);
}

.footer--link--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.footer--items ul {
  list-style-type: none;
  display: flex;
  padding: 0;
}

.footer--items li {
  margin: 0 15px;
}

.footer--social--icon ul {
  list-style-type: none;
  display: flex;
  padding: 0;
}

.footer--social--icon li {
  margin: 0 10px;
}

.divider {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  margin: 40px 0;
}

.footer--content--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer--content {
  font-size: 14px;
}

.contact--section {
  padding: 50px;
}

.contact--container {
  text-align: center;
  margin-bottom: 50px;
}

.contact--section--heading {
  font-size: 36px;
  margin: 10px 0;
}

.contact--section--container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.contact--section--card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s;
}

.contact--section--card:hover {
  transform: translateY(-10px);
}

.contact--section--card-content {
  padding: 20px;
}

.contact--section--title {
  font-size: 24px;
  margin-bottom: 10px;
}

.contact--form--input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.contact--form--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px;
}

.contact--form--button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.main-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
